# .env.example
NODE_ENV=development
# Genera una clave segura de 32 bytes en producción si se desea forzar una específica
# ENCRYPTION_KEY=

# CONFIGURACIÓN DEL SERVICIO DE CORREOS (Resend, Gmail, Outlook u otro SMTP)
# Si no se definen estas variables, el sistema usará una cuenta de pruebas temporal (Ethereal Email) de forma automática.
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_USER=resend
EMAIL_PASS=re_tu_api_key_aqui
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=lemusdiazgeovannibaruc@gmail.com
