# .env.example
NODE_ENV=development
# Genera una clave segura de 32 bytes en producción si se desea forzar una específica
# ENCRYPTION_KEY=

# CONFIGURACIÓN DEL SERVICIO DE CORREOS (Resend API oficial)
RESEND_API_KEY=re_tu_api_key_aqui
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=lemusdiazgeovannibaruc@gmail.com
